<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hemeroteca</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <img src="/images/logo.png" alt="Ruby Server Logo">
    </header>
    <nav>
        <a href="/">Inicio</a>
        <a href="/jugadores">Top All Time</a>
        <a href="/clanes">Top Clanes</a>
        <a href="/actual">Top Actual</a>
        <a href="/hemeroteca" class="active">Hemeroteca</a>
    </nav>
    <div class="container hemeroteca">
        <div class="videos-block">
            <h1>Previsualizaciones</h1>
            <div class="video-grid">
                <div class="video-preview">
                    <iframe src="https://www.youtube.com/embed/iE-WaFRO-aQ?si=UKqNZw4eNYOwT5xI" frameborder="0" allowfullscreen></iframe>
                    <p>Cloud vs Giova - 2019</p>
                </div>
                <div class="video-preview">
                    <iframe src="https://www.youtube.com/embed/48500Jf0mO0?si=vD4x3o5In3TXqhHO" frameborder="0" allowfullscreen></iframe>
                    <p>Beckhxm vs Review - 2018</p>
                </div>
                <div class="video-preview">
                    <iframe src="https://www.youtube.com/embed/a5yCDczj9t8?si=q0hnbFI55QIk4vVr" frameborder="0" allowfullscreen></iframe>
                    <p>Réplica vs BE - 2018</p>
                </div>
                <div class="video-preview">
                    <iframe src="https://www.youtube.com/embed/8_Iy0qZfsXk?si=QLdm76qN30F6Zbhe" frameborder="0" allowfullscreen></iframe>
                    <p>Cloud vs Hhyton - 2017</p>
                </div>
                <div class="video-preview">
                    <iframe src="https://www.youtube.com/embed/SSuZrhTL-zA?si=nCNuJ6P3m29cvPgB" frameborder="0" allowfullscreen></iframe>
                    <p>Beckhxm vs Gogeta - 2018</p>
                </div>
                <div class="video-preview">
                    <iframe src="https://www.youtube.com/embed/-L2R9Ua8jI4" frameborder="0" allowfullscreen></iframe>
                    <p>Giova vs Hhyton - 2021 (torneo DM vs Woj)</p>
                </div>
            </div>
        </div>
        <div class="video-list-block">
            <h1>Listado de Videos</h1>
            <ul class="video-list">
                <li><a href="https://www.youtube.com/watch?v=V2-KKpfNYpA&t=35s" target="_blank">HK vs PH - 2017</a></li>
                <li><a href="https://www.youtube.com/watch?v=q4Lp57yABxw&t=3s" target="_blank">HK vs OCT - 2020</a></li>
                <li><a href="https://www.youtube.com/watch?v=vgB0YfdrLJ8" target="_blank">TH vs OBF/TGD - 2013</a></li>
                <li><a href="https://www.youtube.com/watch?v=nJJ_CSVkrfQ" target="_blank">TH vs SW - 2012</a></li>
                <li><a href="https://www.youtube.com/watch?v=orrRbIlOa_Y" target="_blank">DM vs HW - 2012</a></li>
                <li><a href="https://www.youtube.com/watch?v=sD4Z2mcxSew" target="_blank">EOL vs DM - 2013</a></li>
            </ul>
        </div>
    </div>
    <footer>
        <p>&copy; 2024 Ruby Server. Todos los derechos reservados.</p>
    </footer>

    <script src="/js/script.js"></script>
</body>
</html>