<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> - Ruby Server</title>
    <link rel="icon" type="image/x-icon" href="/images/ruby.ico">
    <link rel="stylesheet" href="/styles.css?v=3">
</head>
<body>
    <header>
        <a href="/"><img src="/images/logo.png" alt="Ruby Server Logo"></a>
    </header>
    <nav>
        <div class="nav-container">
            <ul class="main-nav">
                <li><a href="/" class="active">Inicio</a></li>
                <li><a href="/jugadores">Top All Time</a></li>
                <li><a href="/clanes">Clanes</a></li>
                <li><a href="/actual">Top Actual</a></li>
                <li><a href="/guestbook">Guestbook</a></li>
                <li><a href="/hemeroteca">Hemeroteca</a></li>
            </ul>
            <ul class="user-nav">
                <% if (!user) { %> <!-- Si no hay un usuario autenticado -->
                    <li><a href="/register">Registrar</a></li>
                    <li><a href="/login">Iniciar sesión</a></li>
                <% } else { %> <!-- Si hay un usuario autenticado -->
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li>
                        <form action="/logout" method="POST" style="display: inline;">
                            <button type="submit" class="logout-btn">Cerrar sesión</button>
                        </form>
                    </li>
                <% } %>
            </ul>
            
        </div>
    </nav>
    
    <div class="container">
        <center><h1>Bienvenidos al servidor Ruby</h1></center>
        <p>Esta página contiene los rankings oficiales de los mejores jugadores y clanes del servidor Ruby de Sherwood Dungeon.</p>
    </div>
    <footer>
        <p>&copy; 2024 Ruby Server. Todos los derechos reservados.</p>
    </footer>

    <script src="/js/script.js"></script>
       
</body>
</html>
