/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #1a1a1a;
    color: #f2f2f2;
}

header {
    text-align: center;
    padding: 20px;
    background: linear-gradient(90deg, #8B0000, #B22222);
}

header img {
    max-width: 100px;
    transform: scale(2.5); /* Ajusta el factor para cambiar el tamaño visualmente */
    
}

nav {
    display: flex;
    justify-content: center;
    background: #333;
    padding: 10px 0;
}

nav a {
    color: #f2f2f2;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    transition: color 0.3s;
}

nav a:hover, nav a.active {
    color: #B22222;
}

.container {
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
    background: #2a2a2a;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.stats-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.stats-table th, .stats-table td {
    text-align: left;
    padding: 10px;
    border: 1px solid #444;
}

.stats-table th {
    background: linear-gradient(90deg, #8B0000, #B22222);
    color: #fff;
}

.stats-table tr:nth-child(even) {
    background: #3a3a3a;
}

.stats-table tr:hover {
    background: #555;
    transform: scale(1.01);
    transition: transform 0.2s, background 0.2s;
}

footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: #aaa;
    margin-top: 20px;
}
